VITE_OPENAI_API_KEY=your_openai_api_key_here
VITE_OPENAI_VISION_MODEL=gpt-5.5
VITE_OPENAI_IMAGE_MODEL=gpt-image-1
VITE_PRAVA_BACKEND_URL=https://sandbox.api.prava.space
VITE_PRAVA_PUBLISHABLE_KEY=pk_test_TaFAJcKaldaFoXErIEHw03p_7lAhXY94D3RsXgLV_3s
VITE_PRAVA_SECRET_KEY=sk_test_zGzBj2QzZVaFtO4dkY2ZLAGe7wRSf1zgzUPBheBksA4
